.seccion1-home {
  display: grid;
  align-items: center;
  justify-items: center;
  margin-top: 10rem; }
  .seccion1-home .titulo-display {
    width: 80%;
    margin-bottom: 6rem; }
  .seccion1-home div {
    margin-bottom: 6rem;
    width: 45px; }

.seccion2-home {
  background-color: #FFFFFF;
  height: 2vw; }

.seccion3-home {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center; }

.seccion4-home {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around; }

.seccion5-home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center; }
  .seccion5-home .imagen-quinta-home {
    width: 100%;
    height: 100%; }
    .seccion5-home .imagen-quinta-home img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .seccion5-home .texto-quinta-home {
    width: 70%; }

/* HEADER */
/* NAVIGATION BAR */
header {
  z-index: 4;
  position: -webkit-sticky;
  position: sticky;
  top: 0px; }

nav {
  display: grid;
  grid-template-columns: 2fr 10fr;
  overflow: hidden;
  background-color: #E8E8E7;
  width: 100%;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000; }
  nav .logo {
    display: grid;
    align-self: center;
    justify-self: center; }
  nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
    justify-self: flex-end;
    list-style-type: none;
    margin: 0;
    padding-left: 15px; }
    nav ul li {
      display: grid;
      font: 500 1.9rem "Space Grotesk", sans-serif; }
      nav ul li a {
        text-align: center;
        color: #000000;
        text-decoration: none;
        padding: 14px;
        border-left: 1px solid #000000; }
        nav ul li a:hover {
          background-color: #FFFFFF; }

/** Footer */
footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-auto-rows: 6rem;
  column-gap: 30px;
  align-self: center;
  justify-self: center;
  border-top: 1px solid #000000; }
  footer .footer-item {
    font: 100 14px "Space Grotesk", sans-serif;
    color: #000000;
    padding: 30px; }
  footer .item-logo {
    padding: 30px; }
  footer ul {
    list-style-type: none;
    padding: 30px; }
    footer ul li {
      display: inline;
      padding-right: 10px; }
    footer ul a {
      font: 100 14px "Space Grotesk", sans-serif;
      color: #000000;
      text-decoration: none; }
      footer ul a:hover {
        text-decoration: underline; }

.flecha-home {
  width: 100%; }

#marq {
  width: 100%;
  height: 7.3rem;
  border: 1px solid #000000;
  overflow: hidden;
  white-space: nowrap;
  background-color: #FFFFFF;
  font: 600 5.6rem "Space Grotesk", sans-serif; }

#orig {
  display: inline-block;
  transform: translatex(0);
  animation: marquesina 10s infinite normal linear 1s; }

@keyframes marquesina {
  0% {
    transform: translatex(0); }
  100% {
    transform: translatex(-50%); } }

.container-overlay {
  position: relative;
  width: 100%;
  border-left: 1px solid #000000; }
  .container-overlay .image {
    padding: 5vw;
    width: 100%; }

.overlay-smile {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #6378E5; }

.container-overlay:hover .overlay-smile {
  opacity: 1; }

.text {
  color: #FFFFFF;
  font: 600 5.6rem "Space Grotesk", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }
  .text a {
    font: 600 5.6rem "Space Grotesk", sans-serif;
    color: #FFFFFF; }

h1 {
  font-size: 8rem;
  font-size: clamp(3rem, 10vmin, 8rem);
  line-height: 9rem;
  line-height: clamp(4rem, 10vmin, 9rem);
  color: #000000;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  text-align: left; }

h2 {
  font-size: 5.6rem;
  font-size: clamp(3rem, 10vmin, 5.6rem);
  line-height: 5.6rem;
  line-height: clamp(4rem, 10vmin, 5.6rem);
  color: #000000;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 600;
  text-align: left; }

h3 {
  font-size: 2.6rem;
  font-size: clamp(2rem, 5vmin, 2.6rem);
  line-height: 3rem;
  line-height: clamp(2.6rem, 5vmin, 3rem);
  color: #000000;
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 100;
  text-align: left; }

/* Main Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  background-color: #E8E8E7; }
