// Imagenes, graficos, videos, gifs, efectos tipografias

// HOME

// Segunda Seccion MARQUESINA 1
// (Efecto Texto Marquesina)
      #marq {
          width: 100%;
          height: 7.3rem; 
          border-top: $borde-superior;
          border-bottom: $borde-superior;
          overflow: hidden; 
          white-space: nowrap; 
          background-color: $color-neutro; 
          font: $font-titulo-medium; 
          }
          #orig {
          display: inline-block;
          transform: translatex(0); 
          animation: marquesina 10s infinite normal linear 1s; 
          }
          @keyframes marquesina {
            0% {transform: translatex(0); }
            100% {transform: translatex(-50%); }
          }