
// Home

// Primera Seccion

.seccion1-home{
    display: grid;
    grid-template-rows: 35vw 6vw;
    align-items: center;
    justify-items: center;

    .titulo-display{
        padding: 0 12vw 0 12vw;
        text-align: center;
        line-height: 6vw;
    }
}

// Segunda Seccion
.seccion2-home{
    background-color: $color-neutro;
    height: 2vw;
}

// Tercera Seccion
.seccion3-home{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}