/* HEADER */

/* Menu Navegacion Desktop */
.responsive{
  display: none;
}

header{
  z-index: 4;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

nav {
    display: grid;
    grid-template-columns: 2fr 10fr;
    overflow: hidden;
    background-color: $color-background;
    width: 100%;
    border-bottom: $borde-superior;
    border-top: $borde-superior;

    .logo{
          display: grid;
          align-self: center;
          justify-self: center;
          }    

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
      justify-self: flex-end;
      list-style-type: none;
      margin: 0;
      padding-left: 15px;
      li {
        display: grid;
        font: $font-menu;
        a {
          text-align: center;
          color: $color-font;
          text-decoration: none;
          padding: 14px;
          border-left: $borde-superior;
          &:hover {
            background-color: $color-neutro;
          }
        }
      }
    }
  }