// Responsive MOBILE 576px
@media (max-width: 576px){

// ///////////////// HOME

// Tercera Seccion - PRODOTTI
        .prodotti-home{
            display: grid;
            grid-template-columns: 1fr;
            border-top: none;
            border-bottom: none;

            a:hover{
                opacity: 100%;
            }

            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-bottom: $borde-superior;
                border-left: none;
            }
        }
       
// Cuarta Seccion CHI SIAMO
.seccion-cta-home{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

            img{
                width: 100%;
                height:100%;
                object-fit:cover;
            }

        .texto-quinta-home{
            padding: 4rem;
            grid-row: 1;
        }
}

// Septima Seccion PATREON
.container-patreon{
    padding: 4rem;
}

// Octava Seccion CONTATTACI
.container-contattaci{
    padding: 4rem;
}


// ///////////////// PAGINA PRODOTTI

// Primera Seccion PRODOTTI
    .prodotti-pag-prodotti{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        border-top: $borde-superior;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-left: $borde-superior;
            }
    }


// ///////////////// PAGINA CHI SIAMO

// Primera Seccion Chi siamo
    
.primera-seccion-chisiamo{
    display: grid;
    grid-template-columns: 1fr !important;
    border-top: none !important;
    border-bottom: none !important;
    
        img{
            width: 100%;
            height:100%;
            object-fit:cover;
        }
    
        .texto-primera-chisiamo{
            padding: 4rem;
        }
}
    .espacio-titulo-texto{
        margin-top: 1rem;
    }



// ///////////////// PAGINA ASSUMIAMO

// Primera Seccion - Titulo Pagina

.container-titulo-assumiamo{
    grid-template-columns: 1fr;
    justify-items: left;
}
.titulo-assumiamo{
    padding: 2rem;
}
.texto-assumiamo{
    padding: 2rem;
    padding-top: 0;
}


// Segunda Seccion - Acordeon
.accordion {
    grid-template-columns: 1fr;
    padding: 1.8rem 3rem;
  }
  
  .panel {
    padding: 2rem 3rem;
  }

  .container-oferta{
      grid-template-columns: 1fr;
      justify-items: left;

      a{
          margin-top: 2rem;
          margin-bottom: 2rem;
      }
}

  // ///////////////// CONTATTACI

  // Segunda Seccion - 2 FORM CONTATTI
  .container-contatti{
    display: grid;
    grid-template-columns: 1fr !important;
    border-top: $borde-superior;

    h3{
        font-weight: 600;
        font-size: 3.5rem;
    }

    .bloque-contatti{
        padding: 10rem;
        padding-top: 5rem;
        border-top: $borde-superior;

        .form-contatti{

              .bloque-input-contatti{
                  display: grid;
                  grid-template-rows: repeat(2,1fr);
                  align-items: end;
  
                  .estilo-label{
                      padding-top: 1rem;
                  }

                  .estilo-input{
                      height: 5rem;
                      border: $borde-form-contatti;
                      padding-left: 1rem;
                      font-family: 'Space Grotesk';
                      font-weight: 300;
                      font-size: 2rem;
                  }
              }

              .bloque-mensaje-contatti{
                  display: grid;
                  grid-template-rows: 1fr 2fr;
                  align-items: end;

                  .estilo-label{
                      padding-top: 1rem;
                  }

                  .estilo-mensaje{
                      border: $borde-form-contatti;
                      padding-left: 1rem;
                  }
              }

              .boton-form-contatti{
                  margin-top: 4rem;
              }
        }
    }
}

}





/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////





// Responsive TABLET 1024px
@media (max-width: 1024px){

// ///////////////// Menu Responsive 1024px
    .menu-desktop{
        display: none;
    }

header{
    z-index: 4;
    position: sticky !important;
    top: 0px;
}

    .responsive{
        display: grid;
        background-color: $color-background;
        border-bottom: $borde-superior;

        .topnav {
            display: grid;
            grid-template-columns: 1fr 1fr;

                .logo{
                    display: grid;
                    justify-items: center;
                    align-items: center;
                    padding: 14px 16px;
                }

                .icon {
                    font: $font-menu;
                    color: $color-font;
                    text-decoration: none;
                    text-align: center;
                    background-color: $color-neutro;
                    border-left: $borde-superior;
                    padding: 14px 16px;
                }
        }
    }

    #myLinks {
        display: none;
    }

        .items-menu-responsive-container{
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            border-top: $borde-superior;

            a{
                width: 100%;
                padding: 14px 16px;
                color: $color-font;
                font: $font-menu;
                text-decoration: underline;
                border-bottom: $borde-superior;
                background-color: $color-neutro;
            }
        }


// ///////////////// HOME

// Primera Seccion - TITULAR
.seccion1-home{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

// Segunda Seccion - MARQUESINA 1
.container-overlay{
    position:static;
}

// Cuarta Seccion CHI SIAMO
.seccion-cta-home{
        .texto-quinta-home{
            padding: 4rem;
        }
}

// Septima Seccion PATREON
.container-patreon{
    padding: 4rem;
}




// ///////////////// PAGINA CHI SIAMO

// Primera Seccion Chi siamo
.primera-seccion-chisiamo{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-items: center;
    border-top: $borde-superior;

            img{
                width: 100%;
                height:100%;
                object-fit:cover;
            }

        .texto-primera-chisiamo{
            padding: 4rem;

        }
}

.espacio-titulo-texto{
    margin-top: 1rem;
}

// Bloques Textos Chi siamo
.bloque-textos-chisiamo{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-bottom: $borde-superior;

    h1{
        padding-top: 4rem;
        padding-bottom: 0;
    }

    h3{
        padding-top: 2rem;
    }
}


// ///////////////// PAGINA ASSUMIAMO
// Segunda Seccion - Acordeon
.accordion {
    grid-template-columns: 1fr;
    padding: 1.8rem 3rem;
  }
  
  .panel {
    padding: 2rem 3rem;
  }

  .container-oferta{
      grid-template-columns: 1fr;
      justify-items: left;

      a{
          margin-top: 2rem;
          margin-bottom: 2rem;
      }
  }


    // ///////////////// CONTATTACI

  // Segunda Seccion - 2 FORM CONTATTI
  .container-contatti{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-top: $borde-superior;

    h3{
        font-weight: 600;
        font-size: 3.5rem;
    }

    .bloque-contatti{
        padding: 5rem;
        padding-top: 5rem;

        .form-contatti{

              .bloque-input-contatti{
                  display: grid;
                  grid-template-rows: repeat(2,1fr);
                  align-items: end;
  
                  .estilo-label{
                      padding-top: 1rem;
                  }

                  .estilo-input{
                      height: 5rem;
                      border: $borde-form-contatti;
                      padding-left: 1rem;
                      font-family: 'Space Grotesk';
                      font-weight: 300;
                      font-size: 2rem;
                  }
              }

              .bloque-mensaje-contatti{
                  display: grid;
                  grid-template-rows: 1fr 2fr;
                  align-items: end;

                  .estilo-label{
                      padding-top: 1rem;
                  }

                  .estilo-mensaje{
                      border: $borde-form-contatti;
                      padding-left: 1rem;
                  }
              }

              .boton-form-contatti{
                  margin-top: 4rem;
              }
        }
    }
}

}