
// Coloers
$color-background: #E8E8E7;
$color-primario: #6378E5;
$color-secundario: #F76D57;
$color-font: #000000;
$color-neutro: #FFFFFF;

// Tipografias
$font-menu: 500 18px 'Space Grotesk', sans-serif;
$font-footer: 100 12px 'Space Grotesk', sans-serif;
$font-display-small: 100 120px 'Space Grotesk', sans-serif;
$font-display-big: 100 180px 'Space Grotesk', sans-serif;
$font-titulo: 100 56px 'Space Grotesk', sans-serif;
$font-texto: 100 36px 'Space Grotesk', sans-serif;
$font-ok: 100 36px 'Space Grotesk', sans-serif;