
// Coloers
$color-background: #E8E8E7;
$color-primario: #6378E5;
$color-secundario: #F76D57;
$color-font: #000000;
$color-neutro: #FFFFFF;

// Tipografias
// Menu
$font-menu: 500 1.9rem 'Space Grotesk', sans-serif;
// Display
$font-display-big: 600 8rem 'Space Grotesk', sans-serif;
// Titulo
$font-titulo: 600 5.6rem 'Space Grotesk', sans-serif;
$font-titulo-line-height: 8.6rem;
// Texto
$font-texto: 100 3.6rem 'Space Grotesk', sans-serif;
// Footer
$font-footer: 100 14px 'Space Grotesk', sans-serif;


// Bordes
$borde-superior: 1px solid $color-font;